{% extends 'base.html' %}
{% block title %}Student Dashboard{% endblock %}
{% block content %}
<h2 class="text-center mt-4">👩‍🎓 Welcome, {{request.session.student_name }} {{request.session.admin_name }}</h2>

<div class="container mt-4">
  <h4>📚 Available Books</h4>
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
      <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.isbn }}</td>
        <td>{{ book.category }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
